body{
    margin: 0;
    
    

    
    background-size: cover;
    background-position: center;
    
}

h1{
    text-align: center;
    margin-top: 30px;
    font-family: 'Abril Fatface', cursive;
    font-size: 60px;
    font-weight: 100;
}

div{
    background: rgb(226,249,52);
    background: linear-gradient(27deg, rgba(226,249,52,1) 18%, rgba(25,185,246,1) 100%);
    font-family: 'Bebas Neue', cursive;
    padding: 50px;
   text-align: center;
    font-size: 40px;
    border: 2px solid white;
    border-radius: 40px;
    width: 400px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}

.icons{
    font-size: 100px;
    color: white;
}

hr{
    width: 600px;
}